html {
    scroll-behavior: smooth;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.cost {
    color: rgb(66, 66, 66);
    font-size: larger;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    margin-bottom: 4em;
    border: 4mm ridge rgba(255, 215, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form select {
    width: 100%;
}

form input {
    width: 97.5%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.description {
    width: 80%;
    min-height: 80vh;
    margin: auto;
    background-image: url(paper.jpg);
    padding: 1em;
}

.header2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 20px auto;
    text-shadow: 4px 4px #973a45;
}

.all-tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-card {
    flex: 1 28%;
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-buttons {
    display: flex;
    justify-content: start;
    gap: 0.5em;
    flex-wrap: wrap;
}

.pic {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.pic img {
    transition: 1s;
    display: block;
}

.pic img:hover {
    transform: scale(1.1);
}

.nocopy {
    height: 16px;
    filter: invert(1);
}

.btn {
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #973a45;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #973a45;
}

.adminbox {
    color: white;
    background-color: #333;
    padding: 0.5em;
    border: none;
    box-shadow: none;
    text-align: center;
}

.adminbox input {
    width: 50%;
}

.illustration {
    width: 300px;
}

@media (max-width: 560px) {
    .illustration {
        width: 100%;
    }
}